In [2]:
 # dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from config import gkey

In [3]:
# import csv from first part
cities_csv = os.path.join("..", "WeatherPy", "output", "cities.csv")
weather_df = pd.read_csv(cities_csv)
weather_df.head()

,City,Country,Latitude,Longitude,Temperature (C),Cloudiness (%),Humidity (%),Wind speed (m/s),Datetime
0,Ushuaia,AR,-54.8000,-68.3000,5.81,40,52,16.46,1639905321
1,San Andrés,CO,12.5847,-81.7006,27.01,20,83,4.12,1639905609
2,Mataura,NZ,-46.1927,168.8643,20.27,79,52,3.85,1639905611
3,Jamestown,US,42.0970,-79.2353,-1.06,90,94,3.13,1639905613
4,Albany,US,42.6001,-73.9662,2.83,100,89,4.02,1639905353

In [4]:
# configure gmaps
gmaps.configure(api_key=gkey)